:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navy-blue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --white: #FFFFFF;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    background-color: var(--white);
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Стилі для логотипу */
.logo, .footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

.logo-span, .footer-logo-span {
    color: var(--navy-blue);
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-decoration: none;
    padding: 24px 0;
    transition: color 250ms ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--ocean);
}

.address {
    font-style: normal;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    text-decoration: none;
}

.address-link:hover,
.address-link:focus {
    color: var(--ocean);
}

/* Перша секція */
.hero {
    background-color: var(--navy-blue);
    padding: 120px 0;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
}

.hero-button {
    background-color: var(--iris);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms ease-in-out;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--ocean);
}

/* Секція з перевагами */
.advantages {
    padding: 120px 0;
}

.advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.advantages-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

/* Секція з командою */
.team {
    background-color: var(--cloud);
    padding: 120px 0;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
}

.team-item-content {
    padding: 32px 0;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.team-role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

/* Секція з портфоліо */
.portfolio {
    padding: 120px 0;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.portfolio-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

/* Футер */
.footer {
    background-color: var(--navy-blue);
    padding: 100px 0;
}

.footer-text {
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
}
